{% extends 'layout.html.twig' %}
{% block title %}{{ parent() }} | Compétitions{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/competition.css">
{% endblock %}

{% block content %}
    <header class="d-flex text-center justify-content-around align-items-center competition-header">
        <h1 class="title-light">Compétitions</h1>
    </header>
    <section class="competitions">
        <h2 class="title-light text-center">Compétitions à venir</h2>
        <div class="container">
            {% for newCompetition in newCompetitions %}
                <div class="competition-block row mx-0 justify-content-around section">
                    <div class="competition-picture col-10 col-sm-12 mb-4 col-md-12 col-lg-5">
                        <img class="competition-img" src="/uploads/{{ newCompetition.picture }}" alt="Image archive">
                    </div>
                    <div class="competition-description col-10 col-sm-12 col-md-12 col-lg-5">
                        <h3 class="card-title">{{ newCompetition.name }}</h3>
                        <p class="competition-text">{{ newCompetition.description }}</p>
                        <p class="competition-date icon-before-date">{{ newCompetition.date|date("d / m / Y") }}</p>
                        <p class="competition-position icon-before-position">{{ newCompetition.address }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="archive">
        <h2 class="title-light text-center">Compétitions passées</h2>
        <div class="container-fluid">
            <div class="row mx-0 justify-content-around">
                {% for competition in competitions %}
                    <div class="card col-12 col-sm-8 col-md-5 col-lg-3">
                        <img class="archive-img" src="/uploads/{{ competition.picture }}" alt="Image archive">
                        <div class="card-body">
                            <h3 class="card-title">{{ competition.name }}</h3>
                            <p class="card-date icon-before-date">{{ competition.date|date("d / m / Y") }}</p>
                            <p class="card-position icon-before-position">{{ competition.address }}</p>
                            <a href="/Competition/ranking/{{ competition.id }}" class="btn btn-primary button-light">Voir les résultats</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
