{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} | Contact{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block content %}
    <header class="contact-header">
        <h1 class="title-light">Contact</h1>
    </header>
    <section class="contact-informations">
        <div class="title-card">
            <img class=icon src="/assets/images/chess_icon/bishop.svg" alt="Pièce d'échec">
            <h2 class="contact-card-title title-dark text-center">Nos informations</h2>
            <img class=icon src="/assets/images/chess_icon/bishop.svg" alt="Pièce d'échec">
        </div>

        <div class="row mx-0 card-row">
            <div class="card-group">
                <div class="card align-items-center contact-card">
                    <img src="/assets/images/contact_icon/home-page_white.svg" class="card-img-top" alt="home icon">
                    <div class="card-body text-center">
                        <h3 class="card-title">Adresse</h3>
                        <p class="card-text">Complexe sportif Argonaute</p>
                        <p class="card-text">73 bld Marie Stuart<br>45000 Orléans</p>
                    </div>
                </div>
            </div>
            <div class="card-group">
                <div class="card align-items-center contact-card">
                    <img src="/assets/images/contact_icon/telephone_white.svg" class="card-img-top"
                         alt="telephone icon">
                    <div class="card-body text-center">
                        <h3 class="card-title">Téléphone</h3>
                        <p class="card-text">06.06.06.06.06</p>
                    </div>
                </div>
            </div>
            <div class="card-group">
                <div class="card align-items-center contact-card">
                    <img src="/assets/images/contact_icon/email_white.svg" class="card-img-top" alt="email icon">
                    <div class="card-body text-center">
                        <h3 class="card-title">E-mail</h3>
                        <p class="card-text">contact@us-orleans-echecs.fr</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="row mx-0 form-contact" id="message">
        <form method="post" action="#message">
            <div class="form-title">
                <img class=icon src="/assets/images/chess_icon/chess-knight.svg" alt="Pièce d'échec">
                <h2 class="contact-form-title title-light text-center">Contactez-nous</h2>
                <img class=icon src="/assets/images/chess_icon/chess-knight-reverse.png" alt="Pièce d'échec">
            </div>
            <div class="col-md-6 offset-md-3">
                {% for error in errors %}
                    <p class="errors">{{ error }}</p>
                {% endfor %}
                <div class="form-group">
                    <label for="lastname">Nom</label>
                    <input type="text" class="lastname form-control" id="lastname" name="lastname"
                           placeholder="Martin" value="{{ message.lastname ?? '' }}" required>
                </div>
                <div class="form-group">
                    <label for="firstname">Prénom</label>
                    <input type="text" class="firstname form-control" id="firstname" name="firstname"
                           placeholder="Paul" value="{{ message.firstname ?? '' }}" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="email form-control" id="email" name="email"
                           placeholder="paul.martin@email.fr" value="{{ message.email ?? '' }}" required>
                </div>
                <div class="form-group selected-subject">
                    <label for="subject">Objet</label>
                    <select id="subject" class="subject custom-select" name="subject">
                        {% for subject in subjects %}
                            <option
                                    {% if message.subject is not empty and subject.value == message.subject %}
                                        selected
                                    {% endif %}
                                    value="{{ subject.value }}"
                            >
                                {{ subject.name }}
                            </option>
                            {{ subjectvalue }}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="text-message">Message</label>
                    <textarea class="form-control message" name="message" id="text-message"
                              placeholder="Votre message" required>{{ message.message ?? '' }}</textarea>
                </div>
                <div class="col button">
                    <button class="button-dark mt-4">Envoyer</button>
                </div>
            </div>
        </form>
    </div>
    <section class="map-schedule">
        <div class="find-us">
            <img class=icon src="/assets/images/chess_icon/chess-pawn.svg" alt="Pièce d'échec">
            <h2 class="schedule-title title-dark text-center">Retrouvez-nous</h2>
            <img class=icon src="/assets/images/chess_icon/chess-pawn.svg" alt="Pièce d'échec">
        </div>
        <div class="row mx-0 row-find-us">
            <div class="card map">
                <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                        src="https://www.openstreetmap.org/export/embed.html?bbox=1.9293156266212466%2C47.91025122108417%2C1.933601796627045%2C47.911912424659214&amp;layer=mapnik&amp;marker=47.91108182953731%2C1.9314587116241455"></iframe>
                <small><a href="https://www.openstreetmap.org/?mlat=47.91108&amp;mlon=1.93146#map=19/47.91108/1.93146">Afficher
                        une carte plus grande</a></small>
            </div>
            <div class="card schedule">
                <h3>Nos horaires</h3>
                <p>Lundi : fermé</p>
                <p>Mardi : 17h - 19h</p>
                <p>Mercredi : 15h - 18h</p>
                <p>Jeudi : 9h45 - 11h45 / 17h - 19h</p>
                <p>Vendredi : 14h30 - 16h30</p>
                <p>Samedi : 14h - 18h30</p>
                <p>Dimanche : fermé</p>
            </div>
        </div>
    </section>
{% endblock %}
